.nav {
    width: 25%;
    background:#1C1D1C;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    min-height: 600px;
    opacity: 0.9;

    &__img {
        margin: 70px auto 85px auto;
        display: block;
        width: 80px;
        height: auto;
    }
}


