.nav {
    width: 20%;
    background:#1C1D1C;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    min-height: 600px;
    opacity: 0.9;

    &__img {
        margin: 70px auto 85px auto;
        display: block;
        width: 80px;
        height: auto;
    }
}

<<<<<<< HEAD:src/sass/_home.scss

=======
/* .y-footer{
    background: red;
    position: fixed;
    z-index: 200;
    position: absolute;
    bottom: -605px;
} */
>>>>>>> 366fda7905191bee2eef32586255b5d10592de98:src/home.css
