.menu{
    /* background: #212F44;   */
     height: 100%;
 }
 .menu{
     list-style: none !important;

    a{
        text-decoration: none;
        color: #dcdfe2;
        line-height: 67px;
     }
     a:hover{
        color: #127E2D;
        text-decoration: none;
    }
}
 