.btn-y.btn-small {
    padding: 7px 22px 8px;
    font-size: 11px;
}
.accountPage-image {
    width: 150px;
    height: 150px;
    border-radius: 196px;
}
.cont-y {
   background-color:#0e0e0e;
}
.y-a, .y-a:focus, .y-a:hover {
    text-decoration: none;
}
.footerLinks {
    margin: 40px;
    color: gray;
}
.footerLinks__item {
    font-size: 12px;
    display: inline-block;
    color: currentColor;
}
.img-y {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;

}
.btn-y.btn-black {
    padding: 11px 44px 12px;
    background: hsla(0,0%,9%,.7);
    color: #fff;
    transition: none 33ms cubic-bezier(.3,0,.7,1);
    transition-property: transform,box-shadow,color,background-color;
    box-shadow: inset 0 0 0 2px #a0a0a0;
}
.btn-y {
    color: #fff;
    cursor: pointer;
    margin-top: 1em;
    display: inline-block;
    margin-bottom: 0;
    font-size: .82rem;
    font-weight: 500;
    text-align: center;
    background-image: none;
    border: 0;
    border-radius: 500px;
    padding: 13px;
    letter-spacing: 2px;
    min-width: 130px;
    white-space: normal;
    will-change: transform;
    text-transform: uppercase;
    line-height: 1.6;
    vertical-align: middle;

}


.button-group--vertical .button-group__item {
    display: block;
}

.button-group__item {
    padding: 0 10px;
} 